* {
    margin: 0;
    padding: 0;
}

body {
    background: url("../img/bg.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.fa-user-circle {
    font-size: 22px;
    padding-left: 5px;
}

.dropdown-menu {
    right: 0 !important;
    left: auto;
    z-index: 101;
}

#top-menu {
    // display: flex;
    // justify-content: space-between;
    // padding-right: 25px;
    background: rgba(255, 255, 255, 0.493);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);


}

.fixed-top {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.nav-link {
    font-size: 18px;
    color: black;
}

.logo-img {
    width: 150px;

}

.nav-link:hover {
    color: rgb(255, 47, 0);
}

.bread {
    margin-left: 25px;
    color: white;
}

/* block news*/
.news {
    flex-grow: 2;
}

.news-list {
    margin-bottom: 25px;
    display: grid;
    // grid-template-rows: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 2vw;
    overflow: hidden;
}

.card:hover {
    // background: rgba(255, 123, 0, 0.89);
    box-shadow: 0 5px 30px rgba(20, 52, 82, 0.726);

}

.img-news {
    padding: 10px;
    width: 150px;
}

.card-body {
    margin-left: 15px;
}

.new-bottom {
    flex: 0 0 auto;
}


.btn-primary {
    background-color: orange;
    border-color: coral;
    color: black;
    transition: background-color .4s ease-in;
}

.btn-primary:hover {
    background-color: rgb(240, 83, 21);
    border-color: coral;
    color: black;
    transition: background-color .4s ease-in-out;
}

/*page sud*/
.card-sud {
    width: 100%;
}

.news-sud {
    flex-grow: 1;

}

.list-sud-news {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(350px, 2fr));
    // grid-template-columns: repeat(auto-fill, minmax(350px, 2fr));
    grid-gap: 2vw;


}

/*block footer*/

footer {
    flex: 0 0 auto;
    margin: 45px;
}

footer span {
    color: beige;
}


.content_zayavki,
.content-news,
.content-sud {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;

}

.right-menu {
    width: 150px;
    position: sticky;
    top: 130px;
    min-height: 5em;
    margin: 1.5em;
}

.city {
    margin-left: 50px;
    padding: 10px;
    width: 200px;
    position: sticky;
    top: 120px;
    min-height: 5em;
}

.name-city {
    color: whitesmoke;
}

.list-city {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.zayavki {
    margin: 25px;
    flex-grow: 2;
    width: 100%;
}


.list-zayavki {
    display: grid;
    // grid-template-rows: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 2vw;
    margin: 15px;
    padding: 35px;

}

.city-link {
    padding-left: 0;
}

.title-list {
    color: bisque;
}

/*button*/
.filter-zayav {
    display: flex;
    margin: 15px;
}

.list-city {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: center;

}


.btn-city {
    text-align: center;
    font-size: 25px;
    width: 250px;
    background-color: orange;
    color: orangered;
    margin: 5px;
}

.btn-city-link {
    text-decoration: none;
    color: white;
}

.btn-city:hover {
    background-color: brown;
    color: black;
}

.btn-city.active,
.btn-prof.active {
    color: white;
    background-color: rgba(22, 74, 243, 0.842);
}

.select-prof {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;

}

.btn-prof {
    font-size: 25px;
    width: 250px;
    background-color: orange;
    color: orangered;
    margin: 5px;
}


@media screen and (min-width: 992px) {
    .list-sud-news {
        justify-content: center;
    }
}

@media screen and (max-width: 720px) {
    .left-side {
        display: none;
    }

    .content_zayavki,
    .content-news,
    .content-sud {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (max-width: 520px) {
    .list-sud-news {
        justify-content: center;
    }

    .content_zayavki,
    .content-news,
    .content-sud {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }



    .title-list {
        text-align: center;
    }

    .news-list {
        align-items: center;
    }
}