* {
    margin: 0;
    padding: 0;
}

.fa-user-circle {
    font-size: 22px;
    padding-left: 5px;
}

.wrap {
    background-image: url("../img/bg.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.menu-top {
    /* width: 100%; */
    /* height: 150px; */
    /* background-color: gray; */
    /* background-image: url("../img/bg-menu.gif"); */
    /* background: url("../img/bg2.gif"); */
    /* background-repeat: no-repeat;
    background-position: top center;
    background-size: cover; */

}

.dropdown-menu {
    right: 0 !important;
    left: auto;
    z-index: 101;
}

.dropdown-menu[style] {
    right: 0;
}

.top-menu {
    justify-content: space-between;
    padding-right: 25px;
    z-index: 1;

}

.dropdown-item:hover {

    color: brown;
    /* text-decoration: underline; */
}

.nav-link {
    font-size: 18px;
    color: black;

}

.navbar {
    margin-bottom: 15px;
}

.navbar-expand-lg {
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(243, 149, 9, 0.248);
}

.logo-img {
    width: 150px;

}

.nav-link:hover {
    color: rgb(255, 47, 0);
    /* text-decoration: underline; */
}

/* block news*/
.news {
    margin-top: 15px;
    margin-bottom: 25px;
}

.img-news {
    padding: 10px;
    width: 150px;
}

.card {
    max-width: 540px;
}

.card-body {
    margin-left: 15px;
}

.new-bottom {
    flex: 0 0 auto;
}

/*block footer*/

.footer {
    /* flex: 0 0 auto; */
    /* margin-top: 25px; */
}


aside {
    /* background: #f0f0f0; */
    padding: 10px;
    width: 200px;
    float: right;
    position: sticky;
    top: 0px;
    right: 10px;
    z-index: 1;
    min-height: 5em;
}

@media screen and (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
        flex-direction: column;
    }

}